<div class="overview-container">
  <div class="headline-container flex col">
    <h1>Albums</h1>
  </div>
  <div class="results-container">
    {{#each albums}}
    <div class="card">
      <div class="result-image-cropper">
        <img src="{{this.images.1.url}}" alt="" class="result-image">
      </div>
      <h2>{{this.name}}</h2>
      <a href="/tracks/{{this.id}}" class="more-info">➔ View Tracks</a>
    </div>
    {{/each}}
  </div>
</div>