<div class="index flex column col-center">
  <div id="form-container">
    <form class="flex" action="/artist-search" method="GET">
      <input type="text" name="search" placeholder="Type to search artists">
      <button type="submit">➔ Search</button>
    </form>
  </div>
</div>